html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #454568; /*https://coolors.co/454568-f1f1f5-ffc145-ff6b6c-514b23*/
  color: #f1f1f5;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 1.33em;
  font-weight: 600;
  margin: 0;
  padding-bottom: 0.25em;
  padding-top: 1em;
}

h1:hover {
  text-decoration: underline;
}
ul {
  padding-left: 0;
  margin: 0;
}
li {
  list-style-type: none;
}

input {
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  margin-left: 2%;
  margin-right: 2%;
}

input[type="text"] {
  width: 40%;
}

input[type="number"] {
  width: 15%;
  -moz-appearance: textfield;
}

input.whenput {
  width: 46%;
}

button {
  font-family: inherit;
  font-size: inherit;
  padding: 6px;
}
