body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #454568; /*https://coolors.co/454568-f1f1f5-ffc145-ff6b6c-514b23*/
  color: #f1f1f5;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 1.33em;
  font-weight: 600;
}

h1:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

input {
  display: inline-block;
  width: 43%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: inherit;
  font-family: inherit;
}

button {
  font-family: inherit;
  font-size: inherit;
  padding: 6px;
}
